#aside {
  border-right: 0.1rem solid #ccc ;
  width: 18%;
  min-height: 100vh;
  position: fixed;
  .logo {
    text-align: center;
    padding: 1.4rem 0rem;
    >.icon {
      width: 3.2rem;
      height: 3.2rem;
    }
    >span {
      font-size: 2.2rem;
    }
  }
  .nav-item {
    padding: 1.4rem 0rem;
    text-align: center;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all .3s;
    color: #303133;
    &.active {
      background-color: #e6f7ff;
    }
    &:hover {
      background-color: #e6f7ff;
    }
  }
  a {
    display: block;
  }
}

.login-wrapper {
  margin: 30px auto 0px;
  width: 90%;
  > span {
    margin-bottom: 10px;
  }
  .submit-bottom {
    display: block;
    margin-left: auto;
  }
  .login-tip {
    margin-bottom: 10px;
    color: #f5222d;
    text-align: center;
    transition: all .3s;
  }
}

.btn-enter {
  transform: translate(100%, 0);
  opacity: 0;
}

.btn-enter-active {
  transform: translate(0, 0);
  opacity: 1;
  transition: all 1500ms;
}

.btn-exit {
  transform: translate(0, 0);
  opacity: 1;
}

.btn-exit-active {
  transform: translate(-100%, 0);
  position: fixed;
  opacity: 0;
  transition: all 1500ms;
}